<div class="row">
  <div class="col-md-4 col-md-offset-4" id="custom-form-style">
    <h1>Sign Up <i class="fa fa-user-plus pull-right" aria-hidden="true"></i></h1>
    <br />
    {{# if hasErrors}}
      <div class="alert alert-danger">
        {{# each messages }}
          <p>{{this}}</p>
        {{/each}}
      </div>
    {{/if}}

    <form action="/user/signup" method="post">
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input type="text" name="email" id="email" class="form-control">

        <br />

        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control">

        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <hr/>
        <button type="submit" class="btn btn-primary">Sign Up!</button>
      </div>
    </form>
    <p>Go back to <a href="/user/signin">Sign In!</a></p>
  </div>
</div>
