<div class="row">
  <div class="col-md-6 col-md-offset-3 about">
    <h2>About our company</h2>
    <br />
    <p>The Coffee Connoisseur is a small coffee roasting company located on Long Island, New York. We provide a high-quality, roast-to-order, coffee which can be delivered to your doorstep within a few days. We begin with 100% top-grade Arabica Beans from the finest plantations around the world. These are the most flavorful coffees because they are grown at a higher altitude where crops grow smaller and more slowly, giving the coffee a more concentrated flavor and aroma.</p>

    <p>Since we are a local operation and roast coffee daily to meet our store's requirements and the needs of the dozens of East End and New York City restaurants that proudly serve our coffee, we do not need to use vacuum-packed bags employed by others with less frequent roasting schedules. Nor do we warehouse our coffee. It is delivered roaster-fresh to our customers. That is why we recommend that you purchase your coffee weekly and grind it yourself just before brewing. To preserve freshness, store coffee in a small airtight container. We do not recommend refrigerating or freezing your coffee.</p>

    <p>The Coffee Connoisseur is a complete specialty coffee experience. Whether you're a knowledgeable coffee authority or you love the taste of a flavored latte,we have coffee to suit your palate. We pride ourselves on being an approachable coffee experience.</p>
  </div>
</div>

<div class="row text-center">
  <hr />
  <div class="col-md-4">
    <img class="about-coffee-img" src="http://www.medicalnewstoday.com/content/images/articles/311/311569/coffee.jpg" alt="coffee pic"/>
  </div>
  <div class="col-md-4">
    <img class="about-coffee-img" src="https://afisha.yuga.ru/media/7/3/c/kofe2.jpg" alt="coffee pic"/>
  </div>
  <div class="col-md-4">
    <img class="about-coffee-img" src="https://static.pexels.com/photos/2061/restaurant-beans-coffee-cup.jpg" alt="coffee pic"/>
  </div>
</div>
