<div class="row">
  <div class="col-md-12 home-header">
    <div class="col-md-6 col-md-offset-6">
      <h1 class="home-title">Caffé</h1>
    </div>
  </div>

  <div class="col-md-12 text-center home-description">
    <p>Get freshly roasted coffee delivered to your doorstep!</p>
    <p>Members get access to a coffee-subscription. Every other week a new bag of freshly roasted single-origin coffee is delivered to your door!</p>
    <p>Sign up today!</p>
  </div>
</div>
